.button {
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  width: 265px;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background: #0055B8;
  border-radius: 5px;

  &--yellow{
    background-color: #ffd600;
    color: #272727;
    width: 230px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}