.service-section__container {
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
}

.service-section__heading {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #272727;

  &::before {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    margin-bottom: 16px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd600;
    border: 1px solid #ffd600;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 275px;
    height: 150px;
    background-image: url("../../img/logo-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
}

.service-section__text {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4D4D4D;
}

.service-section__list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}

.service-section__list-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: 35px;
  width: 200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px #0000001a;
  border-radius: 5px;
  padding: 30px;
  background-color: #fff;

  h3 {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 95px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #272727;

    &::before {
      display: block;
      width: 77px;
      height: 77px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 14px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      flex-shrink: 0;
      content: "";
    }

  }

  s {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    width: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #00000040;

    &::before {
      display: block;
      content: "";
      width: 25px;
      height: 1px;
      margin-top: 13px;
      margin-bottom: 13px;
      margin-left: auto;
      margin-right: auto;
      background-color: #0A60C3;
      border: 1px solid #0A60C3;
    }
  }

  span {
    display: block;
    width: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0A60C3;
  }
}

.service-section__dental::before {
  background-image: url("../../img/treatment2.svg");
}

.service-section__hygien::before {
  background-image: url("../../img/hygiene.svg");
}

.service-section__diagnost::before {
  background-image: url("../../img/diagnostics.svg");
}

.service-section__child::before {
  background-image: url("../../img/childrens-dentistry.svg");
}

.s-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(50%);
  border: none;
  display: block;
  background-color: #fff;
  width: 42px;
  height: 49px;
  border-radius: 5px;
  border: 3px solid #0A60C3;
  background-image: url("../../img/s-prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right 35%;
}
.s-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%);
  border: none;
  display: block;
  background-color: #fff;
  width: 42px;
  height: 49px;
  border-radius: 5px;
  border: 3px solid #0A60C3;
  background-image: url("../../img/s-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left 35%;
}

@include breakpoint-down(500px) {

  .s-prev,
  .s-next{
    display: none;
  }

  .service-section__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}