.site-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}

.site-header__wrapper {
  width: 100%;
  position: relative;
}

.site-header__top {
  display: flex;
  padding-top: 10px;
  padding-bottom: 52px;

}

.site-header__logo {
  flex-shrink: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-header__phone-link {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  text-decoration: none;
  width: 200px;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::before {
    display: block;
    margin-right: 7px;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-header__phone-wrapper {
  display: flex;
  flex-direction: column;

  span:nth-child(1) {
    width: 68px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
    color: #272727;
  }

  span:nth-child(2) {
    width: 110px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
  }
}

.site-header__time {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  text-decoration: none;
  width: 200px;
  align-items: center;

  &::before {
    display: block;
    margin-right: 7px;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-header__time-wrapper {
  display: flex;
  flex-direction: column;

  span:nth-child(1) {
    width: 63px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #00B007;
  }

  span:nth-child(2) {
    width: 160px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
  }
}

.site-header__navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #0055B8;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.site-header__logo-min {
  display: none;
  flex-shrink: 0;
  padding-top: 24px;
  padding-bottom: 23px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-header__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-right: 18px;
  margin-left: 17px;
  margin-top: 24px;
  margin-bottom: 23px;
  color: #FFFFFF;

  &:hover {
    color: #ffd600;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-header__socials {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  img {
    flex-shrink: 0;
  }

  a {
    text-decoration: none;
    margin-left: 12px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@include breakpoint-down(1024px) {
  body {
    margin-top: 68px;
  }

  .site-header__top {
    display: none;
  }

  .site-header__logo-min {
    display: block;
  }


  .site-header__navbar {
    position: fixed;
    transform: translateY(0%);
    top: 0;
    left: 0;
  }
}

@include breakpoint-down(811px) {
  .site-header__navbar {
    border-radius: 0;
  }

  .site-header--nojs .site-header__list {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down(375px) {
  .site-header--nojs .site-header__list {
    order: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .site-header--nojs .site-header__list-item {
    width: 100%;
  }

  .site-header--nojs .site-header__link {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 23px;
    border: 2px solid #ffd600;
    color: #ffd600;

    &:active {
      color: #0055b8;
      background-color: #ffd600;
    }
  }

  .site-header--nojs .site-header__socials {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}