.team-section__container {
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
}

.team-section__heading {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #272727;

  &::before {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    margin-bottom: 16px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd600;
    border: 1px solid #ffd600;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 275px;
    height: 150px;
    background-image: url("../img/logo-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
}

.team-section__text {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4D4D4D;
}

.team-section__list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}

.team-section__list-item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;

  img {
    flex-shrink: 0;
    order: -1;
  }

  h3 {
    max-width: 130px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    width: 156px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  &:nth-child(3) {
    margin-right: 0;
  }
}

.s-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(50%);
  border: none;
  display: block;
  background-color: #fff;
  width: 42px;
  height: 49px;
  border-radius: 5px;
  border: 3px solid #0A60C3;
  background-image: url("../img/s-prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right 35%;
}

.s-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%);
  border: none;
  display: block;
  background-color: #fff;
  width: 42px;
  height: 49px;
  border-radius: 5px;
  border: 3px solid #0A60C3;
  background-image: url("../img/s-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left 35%;
}

@include breakpoint-down(500px) {

  .s-prev,
  .s-next {
    display: none;
  }

  .team-section__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}